* {
  all: unset;
  font-family: "SF Pro";
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.bar {
  padding: 0 10px;
}

.left,
.center,
.right {
  background-color: rgba($color: #fff, $alpha: 0.3);
  padding: 0px 5px;
  border-radius: 15px;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.container.battery {
  padding-right: 8px;
}

.workspace label {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.workspace:hover label {
  background-color: rgba(255, 255, 255, 0.45);
  padding-right: 15px;
  padding-left: 15px;
}

.workspace.active label {
  background-color: rgba(255, 255, 255, 0.5);
  padding-right: 20px;
  padding-left: 20px;
}

.network {
  padding-right: 5px;
}

.battery-container {
  min-width: 30px;
  min-height: 12px;
  padding: 0px;
  margin: 0px;
}

.battery-progress {
  min-width: 28px;
  min-height: 10px;
  padding: 0px;
  margin: 0px 2px 0px 0px;
}

.battery-progress trough {
  border: 2px solid #000;
  margin: 3px 0px;
  min-width: 20px;
  min-height: 10px;
  border-radius: 5px;
}

.battery-progress trough progress {
  all: unset;
  border-radius: 3px 0px 0px 3px;
  min-height: 10px;
}

.battery-progress.normal trough progress {
  background: rgba(255, 255, 255, 0.7);
}

.battery-progress.charging trough progress {
  background: linear-gradient(90deg, #4ade80 0%, #22c55e 100%);
}

.battery-progress.low trough progress {
  background: linear-gradient(90deg, #ef4444 0%, #dc2626 100%);
}

.battery-progress.full trough progress {
  border-radius: 3px;
}

.battery-text {
  font-size: 10px;
  font-weight: 700;
  margin: 1px 2px 0px 0px;
}

.battery-cap {
  margin: 7px 0px 7px 27px;
  background: #000;
  border-radius: 0px 3px 3px 0px;
}