* {
  all: unset;
  font-family: "SF Pro";
  font-size: 13px;
  font-weight: 500;
  color:#000;
}

.bar {
  padding: 0 10px;
}

.left, .center, .right {
  background-color: rgba($color: #fff, $alpha: 0.3);
  padding: 0px 15px;
  border-radius: 15px;
}

.center {
  padding: 0px 5px;
}

.workspace label {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.workspace:hover label {
  background-color: rgba(255, 255, 255, 0.45);
  padding-right: 15px;
  padding-left: 15px;
}

.workspace.active label {
  padding-right: 20px;
  padding-left: 20px;
}
